.game-entry:hover {
    background-color: rgb(54, 153, 214);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.game-entry {
    background-color: transparent;
    flex-grow: 1;
}

.unity-label {
    text-overflow: ellipsis;
}
