.unity-text-element
{
    font-size: 22px;
    color: white;
}

.unity-button, .unity-base-popup-field__text, .unity-base-dropdown__label
{
    color: black;
}

.unity-base-field__input > .unity-text-element
{
    color: black
}

.filter-root
{
    background-color: rgba(80, 80, 80, 0.6)
}
